@media (max-width: 425px) {
  main {
    .describe {
      .title {
        font-size: 16px;
      }
      .minNum {
        font-size: 12px;
      }
    }

    .gainList {
      ul {
        li {
          font-size: 12px;
        }
      }
    }
    .luckyGridView {
      .container {
        .luckyDraw {
          h1 {
            font-size: 16px;
          }
        }
        .gift {
          img {
            width: 28px;
          }
        }
      }
    }
  }
}
